
.contenedor_opciones {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: #bdb9b9;
    height: 70px;
    width: 100%;
    border-radius: 7px;
  }


  .limpiar{
    margin-bottom: 8px;
  }

  .limpiar button{
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .limpiar button:hover{
    background-color: #2d4059;
  }
  
  .contenedor_opciones .contenedor_Selection {
    display: flex;
    align-items: center;
    /* margin-right: 20px; */
  }
  
  
  .contenedor_opciones select {
    margin-left: 10px;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #fff;
    color: #1c2237;
    cursor: pointer;
  }
  
  .countries {
    display: inline-block;
    margin: 0 auto;
    max-width: 1200px;
    white-space: nowrap; /* Evita el salto de línea de los elementos hijos */
    /* overflow-x: scroll;  */
  }

footer {
  min-width: 100%;
	background: #bdb9b9;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
  margin-top: 40px;
  height: 140px;
}

.contenedor_footer{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid black;
    height: 45px;
}

.content_foo{
  text-align: center;
}

.content_foo h4 {
  color: #2d4059;
	border-bottom: 3px solid black;
	padding-bottom: 5px;
	margin: 10px;
}

.content_foo p {
	color: #2d4059;
}

.titulo_final {
	text-align: center;
	font-size: 24px;
	margin: 25px 0 0 0;
	color:#2d4059;
}